.navbar{
    background-color: #2E3F4F;
    padding: 0 5vw;
    height: 10vh;
    border-bottom: 2px solid rgba(0, 0, 0, 0.151);
    img{
        width: 100%;
        height: 100%;
    }
    .logo{
        a{
            color: white;
            font-weight: bold;
            font-size: 2.22vw;
        }
    }
    .rightNav{
        color: white;
        font-size: 0.97vw;

        span{
            cursor: pointer;
        }
    }
}