.QRCodeScan_wraper{
    section{
        section{
            div{
                border: 8vw solid rgba(0, 0, 0, 0.3) !important;
            }
        }
    }
    .result{
        margin-top: 5%;
        span{
            font-size: 20px;
            font-weight: bold;
        }
    }
}