.sidebar{
    background-color: #0A3F7F;
    height: 90vh;
    width: 15vw;
    padding-top: 2vh;
    border-right: 5px solid #C3A143;
    a{
        color: white;
        font-weight: bold;
        padding: 2vh 0;
    }
}