.body_wrapper{
    font-family: 'Be Vietnam', sans-serif !important;
    color: black;
    img{
        width: 100%;
        height: 100%;
    }
    .Content{
        width: 85vw;
        max-height: 90vh;
    }
}