.pageProductList{
    width: 100%;
    .titleHeaderPage{
        font-weight: bold;
        font-size: 30px;
    }
    .buttonAdd{
        background-color: #0A3F7F;
        color: white;
        padding: 5px 20px;
        border-radius: 20px;
        cursor: pointer;
        a{
            color: white;
        }
    }
    .table_wrapper{
        height: 79vh;
        max-height: 79vh;
        .contentTable_wrapper{
            // background-color: blue;
            overflow-y: scroll;
            height: 76vh;
        }
        .contentTable_wrapper::-webkit-scrollbar {
            width: 0.5vw;
            background-color: white;
        }
        .contentTable_wrapper::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #2e3f4f;
        }
        .column1{
            width: 9%;
            display: flex;
            justify-content: center;
        }
        .column2{
            width: 25%;
        }
        .column4{
            width: 10%;
            text-align: center;
        }
        .column5{
            width: 15%;
            text-align: center;
        }
        .column6{
            width: 25%;
        }
        .column8{
            width: 12%;
        }
        .column9{
            width: 5%;
        }
        .column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9{
            padding: 0 .5%;
        }
        .titleHead{
            font-weight: bold;
            font-size: 18px;
            color: black;
            padding: 5px 0;
        }
        .contentTable{
            color: black;
            border-top: 1px solid;
            padding: 10px 0;
            // height: 6.8vw;
            .column1{
                img{
                    background-color: coral;
                    width: 5.2vw;
                    height: 6.77vw;
                }
            }
            .column4{
                svg{
                    width: 6.2vw;
                    height: 6.2vw;
                }
            }
            .column5{
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: flex-end;
                svg{
                    width: 100%;
                    height: 6.2vw;
                }
            }
            .column6{
                font-size: 0.83vw;
            }
            a{
                color: black;
            }
            .column6{
                height: 6.5vw;
                max-height: 6.5vw;
            }
            .column9{
                .iconDelete{
                    cursor: pointer;
                    background-color: #0A3F7F;
                    color: white;
                    padding: 0 10px;
                    height: 25px;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .table_wrapper::-webkit-scrollbar {
        width: 10px;
        background-color: white;
    }
    .table_wrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #0A3F7F;
    }
}
.pageAddProduct{
    .ant-upload.ant-upload-select-picture-card > .ant-upload{
        height: 102px;
    }
}
.ant-modal-header{
    border-bottom: 1px solid #2e3f4f;
}